.body {
    position: relative;
    margin: auto;
    background-color: #777;
    width: 960px;
    height: 700px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px 
}

.header {
    position: absolute;
    background-color: #ebebeb;
    text-align: center;
    padding: 25px;
    width: 760px;
    height: 37px;
    margin: 15px;
    float: center;
    left: 7%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px
}

.nav {
    position: absolute;
    background-color: #ebebeb;
    text-align: center;
    padding: 25px;
    width: 760px;
    height: 37px;
    margin: 15px;
    float: center;
    left: 7%;
    top: 14%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px
}

.aside {

    position: absolute;
    background-color: #ebebeb;
    text-align: center;
    padding: 25px;
    width: 195px;
    height: 210px;
    margin: 15px;
    float: center;
    left: 66%;
    top: 28%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px

}

.section {
    position: absolute;
    background-color: #ebebeb;
    text-align: center;
    padding: 25px;
    width: 495px;
    height: 210px;
    margin: 15px;
    float: center;
    left: 7%;
    top: 28%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px
}

.article {
    position: absolute;
    background-color: #777;
    text-align: center;
    color: white;
    padding: 25px;
    width: 465px;
    height: 149px;
    margin: 15px;
    float: center;
    left: 0%;
    top: 15%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px
}

.headers {
    position: absolute;
    background-color: #ebebeb;
    text-align: center;
    color: black;
    padding: 25px;
    width: 370px;
    height: 15px;
    margin: 15px;
    float: center;
    left: 5%;
    top: 18%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px
}

.paragraph {
    position: absolute;
    background-color: #ebebeb;
    text-align: center;
    color: black;
    padding: 25px;
    width: 370px;
    height: 15px;
    margin: 15px;
    left: 5%;
    top: 55%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px
}

.footer {
    position: absolute;
    background-color: #ebebeb;
    text-align: center;
    padding: 25px;
    width: 760px;
    height: 37px;
    margin: 15px;
    float: center;
    left: 7%;
    top: 67%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px
}

.clear {
    clear: none;
}

